* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

:root {}

/* navbar */
.navbar {
   /* background-color: lightcyan; */
   display: grid;
   grid-template-rows: 7rem;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: center;
   justify-items: center;
}

.hamburger {
   width: 2rem;
   padding-top: 0.5rem;
   /* justify-self: end; */
   /* margin-right: 1rem; */
   margin-left: 2rem;
}

.logo {
   width: 14rem;
}



.cart-logo {
   width: 2rem;
   justify-self: end;
}

.profile-picture {
   width: 3rem;
}

.navbar div img {
   width: 100%;
}

/* product-image*/
.product-image {
   /* border:2px solid darkorchid; */
   position: relative;
}

.product-image img:nth-child(1) {
   width: 100%;
}

.previous-icon,
.next-icon {
   width: 3rem;
    position: absolute;
    /* border: 2px solid darkred; */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 0.8rem;
    background-color: white;
}

.previous-icon img,
.next-icon img{
   
}

.previous-icon{
   left:2rem;
   
}

.next-icon{
   right:2rem;
}

/*  */