* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

:root {
   --main-color: hsl(26, 100%, 55%);
   --pale-orange: hsl(25, 100%, 94%);
   --dk-blue: hsl(220, 13%, 13%);
   --dg-blue: hsl(219, 9%, 45%);
   --gk-blue: hsl(220, 79%, 57%);
   --lk-blue: hsl(223, 64%, 98%);
   --text-white: hsl(0, 9%, 100%);
   --black-color: hsl(0, 0%, 0%);
   --img-width: 100%;
}

main {
   padding-bottom: 5rem;
}

.container {
   margin: 0 auto;
   max-width: 800px;
}

.container-opacity {
   opacity: .5;
}


/* main-navbar */
.main-navbar {
   display: grid;
   grid-template-columns: 1fr 8fr 5rem 1.5fr;
   align-items: center;
   grid-template-rows: 6rem;
}

.main-navbar img,
.main-navbar a {
   cursor: pointer;
}

.main-nav-links {
   display: none;
}

.hamburger {
   justify-self: end;
}

.nav-logo {
   margin-left: 2rem;
}

.nav-avatar {
   width: 2rem;
}

.nav-avatar:hover {
   border: 2px solid var(--main-color);
   border-radius: 50%;
}

.nav-cart {
   position: relative;
}

.cart-quantity {
   display: none;
   position: absolute;
   top: -12px;
   right: 20px;
   font-size: 1.5rem;
   color: white;
   font-weight: bold;
   background-color: var(--main-color);
   padding: 0.2rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   border-radius: 40%;
}

.cart-quantity-reveal {
   display: block;
}

/* mobile nav */

.mobile-navbar {
   background-color: white;
   width: 0%;
   height: 100vh;
   position: fixed;
   top: 0;
   z-index: 100;
   transition: width .4s ease-in-out;
}

.mobile-links {
   visibility: hidden;
   opacity: 0;
   transition: opacity .4s linear;
   width: 100%;
   height: 100%;
   font-size: 2rem;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   align-items: end;
   padding: 1.5rem;
   padding-top: 0;
   padding-bottom: 25rem;
}

.x-icon {
   align-self: center;
}

.mobile-navbar a {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

/* when hamburger is clicked */

.mobile-navbar-reveal {
   width: 50%;
}

.mobile-links-reveal {
   visibility: visible;
   opacity: 1;
}

/* product-image*/
.product-image {
   position: relative;
}

.hero-image {
   width: 100%;
   cursor: pointer;
}

.lightbox {
   display: none;
}

.previous-icon,
.next-icon {
   width: 4rem;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 50%;
   padding: 1.3rem;
   background-color: white;
}

.previous-icon,
.next-icon {
   cursor: pointer;
}

.previous-icon {
   left: 1rem;
}

.next-icon {
   right: 1rem;
}

/* cart modal */
.modal {
   z-index: 100;
   display: none;
   background-color: white;
   color: black;
   position: absolute;
   border: 1px solid green;
   width: 95%;
   height: 85%;
   margin: auto;
   top: 1rem;
   right: 0;
   left: 0;
   font-size: 2rem;
}

.modal-reveal {
   display: block;
}


.cart {
   height: 30%;
   border-bottom: 1px solid var(--dg-blue);
   font-weight: bold;
   display: flex;
   align-items: center;
   padding-left: 1.5rem;
}

.cart-fill {
   height: 70%;
   padding: 0 1.5rem 0 1.5rem;
   display: grid;
   grid-template-columns: 2fr 9fr 1fr;
   border-radius: 1rem;
   grid-template-rows: 1fr 1fr;
   grid-template-areas:
      "thumbnail amount bin"
      "checkout checkout checkout";
}

.cart-fill img:nth-child(1) {
   grid-area: thumbnail;
   align-self: center;
   width: 100%;
}

.cart-fill div {
   grid-area: amount;
   padding-left: 1rem;
   font-size: 1.7rem;
   align-self: center;
}


.bin {
   cursor: pointer;
   grid-area: bin;
   justify-self: end;
   align-self: center;
}

.bin-clicked {
   display: block;
}

.cart-fill button {
   grid-area: checkout;
   height: 60%;
   align-self: start;
   background-color: var;
   background-color: var(--main-color);
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   border-radius: 1rem;
}

.cart-fill div p:nth-child(2) span:nth-child(2) {
   font-weight: bold;
   padding-left: 1rem;
}

/* product-info */
/* product-description */
.product-description,
.purchase-section {
   padding: 1.5rem;
   padding-top: 0;
}

.product-description h1 {
   font-size: clamp (1.3rem, 2w, 5rem);
   color: var(--main-color);
   letter-spacing: .1rem;
   font-weight: bolder;
}

.product-description h2 {
   font-size: 2.8rem;
   padding-top: 1rem;
}

.product-description p {
   font-size: clamp(1.55rem, 2vw + 0.25rem, 2rem);
   padding-top: 2rem;
   color: var(--dg-blue);
   line-height: 1.4;
}

.product-cost {
   display: grid;
   grid-template-rows: 4rem;
   grid-template-columns: 2fr 1fr;
   align-items: center;
   margin-bottom: 1.5rem;
}

.product-cost div:nth-child(1) {
   justify-self: start;
   font-size: 2.5rem;
   font-weight: bold;
   display: flex;
   align-items: center;
}

.product-cost div:nth-child(1) span {
   display: inline-block;
   font-size: 1.5rem;
   width: 4rem;
   text-align: center;
   margin-left: 1rem;
   background-color: var(--pale-orange);
   color: var(--main-color);
   padding: .3rem;
   border-radius: .5rem;
}

.product-cost div:nth-child(2) {
   justify-self: end;
   text-decoration: line-through;
   font-size: 1.5rem;
   color: var(--dg-blue);
}

/* product amount */
.product-amount,
.product-addition {
   border-radius: .5rem;
}

.product-amount {
   background-color: var(--lk-blue);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 4rem;
   justify-items: center;
   align-items: center;
   padding-left: 2rem;
   padding-right: 2rem;
}

.product-amount img {
   width: 1.5rem;
}

.product-amount span {
   font-size: 2rem;
}

.plus-sign,
.minus-sign,
.product-addition {
   cursor: pointer;
}

.plus-sign {
   justify-self: right;
}

.minus-sign {
   justify-self: left;
}

/* product-addition */
.product-addition {
   /* ADD ANIMATIONS TO BUTTONS */
   background-color: var(--main-color);
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   height: 4rem;
   align-items: center;
}

.product-addition img {
   padding-right: 1rem;
   height: 2rem;
}

.product-addition span {
   font-size: 1.5rem;
   color: var(--text-white);
   font-weight: bold;
   padding-top: .3rem;
}



@media screen and (min-width:1000px) {
   .hamburger {
      display: none;
   }

   .container {
      max-width: 90%;
      margin: 0 auto;

   }

   /*  */

   .main-nav-links {
      display: flex;
      justify-content: space-evenly;
      text-decoration: none;
      color: var(--dg-blue);
   }

   .main-nav-links a {
      text-decoration: none;
      color: var(--dg-blue);
      font-size: 2rem;
   }

   .main-nav-links a:hover {
      font-weight: bold;
      border-bottom: 3px solid var(--main-color);

   }

   .main-navbar {
      grid-template-columns: 1fr 9fr 7fr 1fr;
      grid-template-rows: 10rem;
      border-bottom: 1px solid var(--dg-blue);
   }

   .nav-avatar {
      width: 5rem;
      justify-self: end;
   }

   .nav-cart {
      justify-self: end;
      margin-right: 2rem;
   }

   /*  */

   main {


      display: flex;
      display: grid;
      padding: 9rem;
      column-gap: 7rem;
      grid-template-columns: 1fr 1fr;
   }

   .previous-icon,
   .next-icon {
      display: none;
   }

   .product-description h2 {
      font-size: 4rem;
   }

   .product-description p {
      font-size: 1.7rem;
   }

   .product-purchase {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      column-gap: 2rem;
   }

   .product-cost {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
   }

   .product-cost div:nth-child(1) {
      font-size: 2.5rem;
   }

   .product-cost div:nth-child(1) span {
      font-size: 1.5rem;
   }

   .product-cost div:nth-child(2) {
      justify-self: start;
   }

   .product-addition {
      margin-top: 0;
      width: 90%;

   }

   .product-info {
      justify-self: end;
      padding-top: 10rem;
   }

   /* lighbox */
   .lightbox {
      width: var(--img-width);
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;
      column-gap: 2rem;
   }

   .lightbox img {
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
   }

   .lightbox img:hover {
      opacity: .5;
      border: 3px solid var(--main-color);
   }

   .product-image {
      position: static;
   }

   .modal {
      position: absolute;
      width: 35rem;
      height: 25rem;
      left: 70%;
      top: 13%;
   }

   .cart-fill img:nth-child(1) {
      width: 100%;
   }

}